@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 8.3vw;
}
.result {
    width: 100vw;
    height: calc(100vh - 125vw);
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: right;
    padding-top: 25vw;
    font-size: 22vw;
}
.buttons {
    position: absolute;
    bottom: 0;
}
.buttons div {
    width: 25vw;
    height: 25vw;
    text-align: center;
    line-height: 25vw;
    float: left;
    background: rgb(208, 209, 212);
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.buttons div:active {
    background: rgb(187, 188, 190);
}
#k0 {
    width: 50vw;
}
#div, #mol, #min, #plu, #equ {
    background: rgb(247, 140, 42);
    border-right: 1px solid black;
    font-size: 12vw;
    color: white;
}
#k0, #vir, #equ {
    border-bottom: 1px solid black;
}
#ac, #pom, #per {
    background: rgb(187, 188, 190);
}
#ac:active, #pom:active, #per:active {
    background: rgb(178, 178, 178);
}
#div:active, #mol:active, #min:active, #plu:active, #equ:active {
    background: rgb(200, 121, 35);
}