@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fjalla One';
}
.page {
    width: 100%;
    height: 100%;
    background: rgb(30, 30, 30);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar {
    width: calc(100% - 20px);
    height: 60px;
    background: rgb(51, 51, 51);
    margin: 10px;
    font-size: 20px;
}
.links {
    display: inline-block;
    color: rgb(173, 173, 173);
    margin: 15px 20px;
}
.active {
    color: white;
    border-bottom: 2px solid white;
}
@media (min-width: 500px) {
}