@font-face {
    font-family: Open Sans;
    src: url(font/OpenSans-Regular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Open Sans;
    src: url(font/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}

html, body {
    font-family: 'Open Sans';
    color: white;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.header {
    height: 100px;
    width: 100vw;
    display: block;
    background: rgb(34,34,34);
}
.content {
    min-height: calc(100vh - 100px);
    height: auto;
    width:100vw;
    display: block;
    background: url(media/background.jpg);
    background-size: cover;
    background-position: center;
}
.layer {
    min-height: calc(100vh - 100px);
    height: auto;
    width: 100%;
    background: rgba(200,200,200,0.60);
    text-align: center;
}
.f1, .motogp {
    height: 450px;
    width: 320px;
    background: rgb(34,34,34);
    display: inline-block;
    margin: calc((100vh - 550px)/2) 30px;
    vertical-align: top;
    transition: 0.3s;
}
/*--- test hover ---*/
.f1:hover {
    color: rgb(34,34,34);
    background: white;
}
.f1:hover img {
    content: url(media/formula1_b.png);
}
.motogp:hover {
    color: rgb(34,34,34);
    background: white;
}
.motogp:hover img {
    content: url(media/motogp_b.png);
}
.f1:hover #f1_data_gara {
    border: 2px solid rgb(34,34,34);
}
.motogp:hover #motogp_data_gara {
    border: 2px solid rgb(34,34,34);
}
/*--- end of test ---*/
h1 {
    font-weight: 800; 
}
.header img {
    height: 100px;
    margin: 0px 30px;
    display: block;
}
.f1 img {
    width: 120px;
    display: block;
    margin: -22px auto -8px auto;
}
.motogp img {
    width: 80px;
    display: block;
    margin: -10px auto 20px auto;
}
/*--- f1 table styling ---*/
.f1_table {
    width: 300px;
    margin: auto;
    text-align: right;
}
.f1_table td {
    width: 50%;
    padding-top: 11px;
    padding-right: 30px;
}
.f1_table tr > :first-child {
    text-align: left;
    padding-left: 30px;
}
#f1_data_gara {
    padding: 10px 0 10px 0;
    text-align: center;
    white-space: pre;
    border: 2px solid white;
    border-radius: 7px;
}
#f1_diretta {
    text-align: center;
    color: red;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 5px;
}
/*--- end table styling---*/
/*--- motogp table styling ---*/
.motogp_table {
    width: 300px;
    margin: auto;
    text-align: right;
}
.motogp_table td {
    width: 50%;
    padding-top: 11px;
    padding-right: 30px; 
}
.motogp_table tr > :first-child {
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
}
#motogp_data_gara {
    padding: 10px 0 10px 0;
    text-align: center;
    white-space: pre;
    border: 2px solid white;
    border-radius: 7px;
}
#motogp_diretta {
    text-align: center;
    color: red;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px 0 0 0;
}
/*--- end table styling---*/

@media (max-height: 610px), (max-width: 760px) {
    .layer div {
        margin: 30px;
    }
}
@media (max-width: 380px) {
    .layer div {
        margin: 30px auto;
    }
}
